footer
  ul
    | {% for link in linklists.footer.links %}
    li: a(href="{{ link.url }}") {{ link.title }}
    | {% endfor %}
  .social
    | {% if settings.facebook_show %}
    a(href="{{ settings.facebook_link }}")
      img(src="{{ 'icon-fb.png' | asset_url }}")
    | {% endif %}
    | {% if settings.twitter_show %}
    a(href="{{ settings.twitter_link }}")
      img(src="{{ 'icon-twitter.png' | asset_url }}")
    | {% endif %}
    | {% if settings.pinterest_show %}
    a(href="{{ settings.pinterest_link }}")
      img(src="{{ 'icon-pinterest.png' | asset_url }}")
    | {% endif %}

