h1.logo
  | {% if settings.logo_option == 'image' %}
  a(href="/")
    img(src="{{ 'logo.png' | asset_url }}", alt="{{ shop.name }}")
  | {% else %}
  a(href="/") {{ shop.name }}
  | {% endif %}

nav.main-menu
  ul
    | {% for link in linklists.main-menu.links %}
    li(class='{% if link.active %}current{% endif %}')
      a(href='{{ link.url }}') {{ link.title }}
    | {% endfor %}
