.product(class="{% cycle '', '', '', 'last' %}")
  .product-thumb
    a(href="{{ product.url | within: collection }}")
      img(src="{{ product.featured_image.src | product_img_url: 'medium' }}", alt="{{ product.featured_image.alt | escape }}")
  .product-title
    a(href="{{ product.url | within: collection }}") {{ product.title }}
  .product-price
    | {% if product.price_varies %} From {% endif %}
    | {{ product.price | money }}
