h2 Account Details and Order History
.clearfix
  .account-user.left
    .user-name
      strong {{ customer.name }}
      p {{ customer.email }}
    | {% if customer.default_address != nil %}
    p {{ customer.default_address.address1 }}
    | {% if customer.default_address.address2 != "" %}
    p {{ customer.default_address.address2 }}
    | {% endif %}
    p
      | {{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}
    p {{ customer.default_address.zip}}
    p {{ customer.default_address.phone }}
    | {% endif %}
    a(href='/account/addresses') View Addresses ({{ customer.addresses_count }})

  .account-table.right
    | {% if customer.orders.size != 0 %}
    table
      thead
        tr.cart-headers
          th Order
          th Date
          th Payment Status
          th Fulfillment Status
          th Total
      tbody
        | {% for order in customer.orders %}
        tr
          td {{ order.name | link_to: order.customer_url }}
          td {{ order.created_at | date: "%b %d, %Y" }}
          td {{ order.financial_status }}
          td {{ order.fulfillment_status }}
          td {{ order.total_price | money }}
        | {% endfor %}
    | {% else %}
    p You haven't placed any orders yet.
    | {% endif %}

