h2 Activate Account
p Please enter a password for your account.
| {% form 'activate_customer_password' %}
| {{ form.errors | default_errors }}
#password.form-row
  label.large(for='password') Password
  input#customer_password.large.password(type='password', value='', name='customer[password]', size='16')
#password_confirm.form-row
  label.large(for='password_confirmation') Re-Enter Password
  input#customer_password_confirmation.large.password(type='password', value='', name='customer[password_confirmation]', size='16')
.form-row
  input.btn(type='submit', value='Activate Account')
  span.note or
  input#customer_decline.btn.cancel(type='submit', name='decline', value='Decline Invitation')
| {% endform %}
