h2 Manage Account Address
input.btn(type='submit', onclick='Shopify.CustomerAddress.toggleNewForm(); return false;', value='Add New Address')

.add-address-wrapper
  #add_address(style='display:none;')
    | {% form 'customer_address', customer.new_address %}
    h3 Add a new address
    table.customer-address-table
      tr.form-row
        td
          label(for='address_first_name_new') First Name
        td
          input#address_first_name_new.address_form(type='text', name='address[first_name]', value='{{form.first_name}}', size='40')
      tr.form-row
        td
          label(for='address_last_name_new') Last Name
        td
          input#address_last_name_new.address_form(type='text', name='address[last_name]', value='{{form.last_name}}', size='40')
      tr.form-row
        td
          label(for='address_company_new') Company
        td
          input.address_form(type='text', for='address_company_new', name='address[company]', value='{{form.company}}', size='40')
      tr.form-row
        td
          label(for='address_address1_new') Address1
        td
          input#address_address1_new.address_form(type='text', name='address[address1]', value='{{form.address1}}', size='40')
      tr.form-row
        td
          label(for='address_address2_new') Address2
        td
          input#address_address2_new.address_form(type='text', name='address[address2]', value='{{form.address2}}', size='40')
      tr.form-row
        td
          label(for='address_city_new') City
        td
          input#address_city_new.address_form(type='text', name='address[city]', value='{{form.city}}', size='40')
      tr.form-row
        td
          label(for='address_country_new') Country
        td
          select#address_country_new(name='address[country]', data-default='{{form.country}}') {{ country_option_tags }}
      tr#address_province_container_new.form-row(style='display:none')
        td
          label(for='address_province_new') Province
        td
          select#address_province_new.address_form(name='address[province]', data-default='{{form.province}}')
      tr.form-row
        td
          label(for='address_zip_new') Zip
        td
          input#address_zip_new.address_form(type='text', name='address[zip]', value='{{form.zip}}', size='40')
      tr.form-row
        td
          label(for='address_phone_new') Phone
        td
          input#address_phone_new.address_form(type='text', name='address[phone]', value='{{form.phone}}', size='40')
      tr.form-row
        td
        td {{ form.set_as_default_checkbox }} Set as Default Address?
    .update-address
      input.btn(type='submit', value='Add Address')
      span.note
        | or 
        a(href='#', onclick='Shopify.CustomerAddress.toggleNewForm(); return false;') Cancel
    | {% endform %}


.address_tables
  | {% paginate customer.addresses by 10 %}
  | {% for address in customer.addresses %}
  .user-address
    .customer_address(id='view_address_{{ address.id }}')
      .clearfix
        h3.left
          | {{ address.street }} 
          | {% if address == customer.default_address %}
          span.default_address.note (Default Address)
          | {% endif %}
        p.right.address_actions
          span.action_link.action_edit {{ "Edit" | edit_customer_address_link: address.id }}
          |  or 
          span.action_link.action_delete {{ "Delete" | delete_customer_address_link: address.id }}
      .view_address
        p {{ address.first_name }} {{address.last_name }}
        p {{ address.company }}
        p {{ address.street }}
        p {{ address.city }} {% if address.province_code %}, {{ address.province_code }}{% endif %}
        p {{ address.country }} {{ address.zip }}
        p {{ address.phone }}
    .customer-address-table(id='edit_address_{{address.id}}', style='display:none;')
      | {% form 'customer_address', address %}
      table.customer_address_table
        tr.form-row
          td
            label(for='address_first_name_{{form.id}}') First Name
          td
            input.address_form(type='text', id='address_first_name_{{form.id}}', name='address[first_name]', value='{{form.first_name}}', size='40')
        tr.form-row
          td
            label(for='address_last_name_{{form.id}}') Last Name
          td
            input.address_form(type='text', id='address_last_name_{{form.id}}', name='address[last_name]', value='{{form.last_name}}', size='40')
        tr.form-row
          td
            label(for='address_company_{{form.id}}') Company
          td
            input.address_form(type='text', id='address_company_{{form.id}}', name='address[company]', value='{{form.company}}', size='40')
        tr.form-row
          td
            label(for='address_address1_{{form.id}}') Address1
          td
            input.address_form(type='text', id='address_address1_{{form.id}}', name='address[address1]', value='{{form.address1}}', size='40')
        tr.form-row
          td
            label(for='address_address2_{{form.id}}') Address2
          td
            input.address_form(type='text', id='address_address2_{{form.id}}', name='address[address2]', value='{{form.address2}}', size='40')
        tr.form-row
          td
            label(for='address_city_{{form.id}}') City
          td
            input.address_form(type='text', id='address_city_{{form.id}}', name='address[city]', value='{{form.city}}', size='40')
        tr.form-row
          td
            label(for='address_country_{{form.id}}') Country
          td
            select(id='address_country_{{form.id}}', name='address[country]', data-default='{{form.country}}') {{ country_option_tags }}
        tr.form-row(id='address_province_container_{{form.id}}', style='display:none')
          td
            label(for='address_province_{{form.id}}') Province
          td
            select.address_form(id='address_province_{{form.id}}', name='address[province]', data-default='{{form.province}}')
        tr.form-row
          td
            label(for='address_zip_{{form.id}}') Zip
          td
            input.address_form(type='text', id='address_zip_{{form.id}}', name='address[zip]', value='{{form.zip}}', size='40')
        tr.form-row
          td
            label(for='address_phone_{{form.id}}') Phone
          td
            input.address_form(type='text', id='address_phone_{{form.id}}', name='address[phone]', value='{{form.phone}}', size='40')
        tr.form-row
          td
          td {{ form.set_as_default_checkbox }} Set as Default Address?
      .update-address
        input.btn(type='submit', value='Update Address')
        span.note
          | or 
          a(href='#', onclick='Shopify.CustomerAddress.toggleForm({{form.id}}); return false;') Cancel
      | {% endform %}
  | {% endfor %}
  .address_pagination
    | {{ paginate | default_pagination }}
  | {% endpaginate %}
  p.return
    a(href='/account') ← Return to account page

script.
  // initialize observers on address selectors
  new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});  
  {% for address in customer.addresses %}
  new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
  {% endfor %}
