.customer-login
  h2 Customer Login
  p.reset-success Instructions for resetting your password have been sent.
  | {% form 'customer_login' %}
  | {{ form.errors | default_errors }}


  .login_email
    .form-row
      label(for='customer_email') Email Address
      input#customer_email(type='email', value='', name='customer[email]', size='30')
    .form-row
      label(for='customer_password') Password
      input#customer_password(type='password', value='', name='customer[password]', size='16')
    .form-row.forgot-password
      a(href='#', onclick='return false') Forgot your password?
    .form-row
      input.btn(type='submit', value='Sign In')
  | {% endform %}

.recover-password
  h2 Reset Password
  p We will send you an email to reset your password.
  | {% form 'recover_customer_password' %}
  | {{ form.errors | default_errors }}

  | {% if form.posted_successfully? %}
  | {% assign reset_success = true %}
  | {% endif %}
  .form-row
    label.large(for='email') Email Address
    input#recover-email.large(type='email', value='', size='30', name='email')
  .form-row.recover-cancel
    input.btn(type='submit', value='Submit')
    | or 
    a(href='#', onclick='return false') Cancel
  | {% endform %}

| {% if shop.checkout.guest_login %}
.guest-login
  h2 Guest Login
  | {% form 'guest_login' %}
  input.btn(type='submit', value='Continue as Guest')
  | {% endform %}
| {% endif %}



script.
  $(document).ready(function () {
    $(".forgot-password a").click(function() {
        $(".customer-login, .guest-login, .recover-password").toggle()
    })
    $(".recover-cancel a").click(function() {
      $(".customer-login, .guest-login, .recover-password").toggle()
    })
  })
  {% if reset_success %} 
    $(".reset-success").show();
  {% endif %}
