h2 Order {{ order.name }}
.clearfix
  .account-user.left
    | {% if order.cancelled %}
    #order-cancelled.flash.notice
      h5 Order Cancelled
      | on {{ order.cancelled_at | date: "%B %d, %Y %I:%M%p" }}
      | {{ order.cancel_reason }}
    | {% endif %}
    .order-date Placed on {{ order.created_at | date: "%B %d, %Y %I:%M%p" }}
    .order-address
      .order-payment
        h3 Billing Address
        p.status Payment Status: {{ order.financial_status }}
        .address
          p {{ order.billing_address.name }}
          p {{ order.billing_address.company }}
          p {{ order.billing_address.street }}
          p {{ order.billing_address.city }}, {{ order.billing_address.province }}
          p {{ order.billing_address.country }} {{ order.billing_address.zip }}
          p {{ order.billing_address.phone }}

      | {% if order.shipping_address %}
      .order-shipping
        h3 Shipping Address
        p.status Fulfillment Status: {{ order.fulfillment_status }}
        .address
          p {{ order.shipping_address.name }}
          p {{ order.shipping_address.company }}
          p {{ order.shipping_address.street }}
          p {{ order.shipping_address.city }}, {{ order.shipping_address.province }}
          p {{ order.shipping_address.country }} {{ order.shipping_address.zip }}
          p {{ order.shipping_address.phone }}
      | {% endif %}
      
  .account-table.right
    table
      thead
        tr.cart-headers
          th Product
          th SKU
          th Price
          th Quantity
          th.order-total Total
      tbody
        | {% for line_item in order.line_items %}
        tr(id='{{ line_item.id }}')
          td.order-product
            | {{ line_item.title | link_to: line_item.product.url }} 
            | {% if line_item.fulfillment %}
            | Fulfilled {{ line_item.fulfillment.created_at | date: "%b %d" }}
            | {% if line_item.fulfillment.tracking_number %}
            a(href='{{ line_item.fulfillment.tracking_url }}')
              | {{ line_item.fulfillment.tracking_company }} # {{ line_item.fulfillment.tracking_number}}
            | {% endif %}
            | {% endif %}
          td.sku {{ line_item.sku }}
          td.order-money {{ line_item.price | money }}
          td.order-quantity {{ line_item.quantity }}
          td.order-total {{ line_item.quantity | times: line_item.price | money }}
        | {% endfor %}
      tfoot
        tr.order_summary
          td.label(colspan='4') Subtotal:
          td.total.money {{ order.subtotal_price | money }}
        | {% for discount in order.discounts %}
        tr.order_summary.discount
          td.label(colspan='4') {{ discount.code }} Discount:
          td.total.money {{ discount.savings | money }}
        | {% endfor %}
        | {% for shipping_method in order.shipping_methods %}
        tr.order_summary
          td.label(colspan='4') Shipping ({{ shipping_method.title }}):
          td.total.money {{ shipping_method.price | money }}
        | {% endfor %}
        | {% for tax_line in order.tax_lines %}
        tr.order_summary
          td.label(colspan='4') Tax ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%):
          td.total.money {{ tax_line.price | money }}
        | {% endfor %}    
        tr.order_summary.order_total
          td.label(colspan='4') Total:
          td
            strong {{ order.total_price | money }} {{ order.currency }}
    p.return
      a(href='/account') Return to account page
