h2 Create Account
| {% form 'create_customer' %}
| {{ form.errors | default_errors }}
#first_name.form-row
  label.login(for='first_name') First Name
  input#first_name.large(type='text', value='', name='customer[first_name]', size='30')
#last_name.form-row
  label.login(for='last_name') Last Name
  input#last_name.large(type='text', value='', name='customer[last_name]', size='30')
#email.form-row
  label.login(for='email') Email Address
  input#email.large(type='email', value='', name='customer[email]', size='30')
#password.form-row
  label.login(for='password') Password
  input#password.large.password(type='password', value='', name='customer[password]', size='30')
.form-row
  input.btn(type='submit', value='Create')
| {% endform %}
