h2 Reset Account Password
p Please enter a new password for {{ email }}
| {% form 'reset_customer_password' %}
| {{ form.errors | default_errors }}
#password.form-row
  label.large(for='password') Password
  input#customer_password.large.password(type='password', value='', name='customer[password]', size='16')
#password_confirm.form-row
  label.large(for='password_confirmation') Password Confirmation
  input#customer_password_confirmation.large.password(type='password', value='', name='customer[password_confirmation]', size='16')
.form-row
  input.btn(type='submit', value='Reset Password')
| {% endform %}
