.blog-article
  h1 {{ article.title }}

  .blog-data {{ article.published_at | date: '%b %d, %Y' }}
  | {% if blog.comments_enabled %}
  span -  
    a(href="{{ article.url }}#comments") {{ article.comments_count }} {{ article.comments_count | pluralize: 'comment', 'comments' }}
  | {% endif %}

  .blog-content
    | {{ article.content }}

  | {% if article.tags.size > 0 %}
  .blog-tags tags: 
  
  | {% for tag in article.tags %}
  a(href="{{ blog.url }}/tagged/{{ tag | handle }}") {{ tag }}
  | {% unless forloop.last %}, {% endunless %}
  | {% endfor %}
  | {% endif %}

| {% if blog.comments_enabled? %}

| {% if article.comments.size > 0 %}
.comments
  h2 Comments ({{ article.comments_count }})
  | {% for comment in article.comments %}
  .comment
    .comment-data {{ comment.author }} 
      small on {{ comment.created_at | date "%B %d, %Y" }}
    .comment-content {{ comment.content }}
  | {% endfor %}
| {% endif %}

.comment-form
  | {% form article %}
  h2 Leave a comment
  | {% if form.errors %}
  .errors
    p {{ settings.comments_error_message }}
    | {% for field in form.errors %}
    p The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}
    | {% endfor %}
  | {% endif %}
  | {% if form.posted_successfully %}
  .success
    p
      | {% if blog.moderated? %}
      | Your comment needs to be approved by the blog owner.
      | {% else %}
      | Successfully posted your comment.
      | {% endif %}
  | {% endif %}
  .comment-entries
    p
      label(for="comment-author") Name
      input(class="{% if form.errors.contains 'author' %}error{% endif %}" type='text' name='comment[author]' placeholder='Your name' value='{{ form.author }}')
    p
      label(for="comment-email") Email
      input(class="{% if form.errors contains 'email' %}error{% endif %}" type='text' name='comment[email]' placeholder='your@email.com' value='{{ form.email }}')
    p
      label(for="comment-body") Message
      textarea(class="{% if form.errors contains 'body' %}error{% endif %}" name='comment[body]' cols="30" rows="10") {{ form.body }}
    input(type='submit' value='Post Comment!')

  | {% endform %}
| {% endif %}
