| {% paginate blog.articles by 5 %}

| {% if current_tags %}
h2 {{ blog.title | link_to: blog.url }} &raquo; {{ current_tags.first }}
| {% else %}
h2 {{ blog.title }}
| {% endif %}

| {% for article in blog.articles %}
.blog-article(class='{% if forloop.last %} no-border {% endif %}')
  h3.blog-title
    a(href="{{ article.url }}") {{ article.title }}
  .blog-data
    | {{ article.published_at | date: '%b %d, %Y' }}
    | {% if blog.comments_enabled? %}
    span - 
    a(href="{{ article.url }}#comments") {{ article.comments_count }} {{ article.comments_count | pluralize: 'comment', 'comments' }}
    | {% endif %}
  .blog-content
    | {{ article.excerpt_or_content }}
  
  | {% if article.tags.size > 0 %}
  .blog-tags tags:
  | {% for tag in article.tags %}
  a(href="{{ blog.url }}/tagged/{{ tag | handle }}") {{ tag }}
  | {% unless forloop.last %}, {% endunless %}
  | {% endfor %}
  | {% endif %}
  .blog-read-more
    a(href="{{ article.url }}") Read more
  hr
| {% endfor %}

| {% if paginate.pages > 1 %}
.pagination
  | {{ paginate | default_pagination }}

| {% endif %}
| {% endpaginate %}
