h2 Your Cart
| {% if cart.item_count > 0 %}
form(action="/cart" method='post')
  table
    thead
      tr
        th &nbsp;
        th Product Title
        th Price
        th Quantity
        th Total
        th &nbsp;
    tbody
      | {% for item in cart.items %}
      tr
        td
          .item-thumb
            a(href="{{ item.product.url }}")
              img(src="{{ item.product.featured_image.src | product_img_url: 'small' }}", alt="{{ item.title | escape }}")
        td
          .item-title
            a(href="{{ item.product.url | within: collections.all }}") {{ item.title }}
        td {{ item.price | money }}
        td
          input(type="number" name='updates[]' id='updates_{{ item.id }}' value='{{ item.quantity }}')
        td {{ item.line_price | money }}
        td
          a(href="/cart/change?line={{ forloop.index }}&quantity=0") Remove
      | {% endfor %}

  .cart-options
    h3 Subtotal: {{ cart.total_price | money }}
    input(type="submit" name='update' value='Update cart')
    | or
    input(type="submit" name='checkout' value='Check out')
    | {% if additional_checkout_buttons %}
    p.additional-checkout-buttons
      | {{ content_for_additional_checkout_buttons }}
    | {% endif %}

| {% else %}
p You don't have any items in your cart
| {% endif %}
