| {% paginate collection.products by 8 %}

.collection
  .collection__title
    h2 {{ collection.title }}
  .collection__description {{ collection.description }}
  ul
    | {% for product in collection.products | limit:8 %}
    |   {% include "product-loop" %}
    | {% endfor %}

| {% if paginate.pages > 1 %}
.pagination
  | {{ paginate | default_pagination }}
| {% endif %}

| {% endpaginate %}
