| {% assign page = pages[settings.frontpage_homepage] %}

.homepage
  | {% if page.handle != "" %}
  h2 {{ page.title }}
  | {{ page.content }}
  | {% endif %}

  | {% assign collection = collections[settings.frontpage_collection] %}
  | {% if collection.handle != "" %}
  .homepage-collection
    h2 {{ collection.title }}
    | {% for product in collections.collection.handle.products | limit: settings.num_products %}
    | {% include 'product-loop' %}
    | {% endfor %}
  | {% endif %}

