| {% paginate collections by 4 %}

| {% if collections.size > 0%}
h2 Collections
| {% for collection in collections %}
.product(class="{% cycle  '', '', '', 'last' %}")
  .product-thumb
    a(href='{{ collection.url }}')
      | {% if collection.image %}
      | {{ collection.image.src | collection_img_url: 'medium' | img_tag: collection_title }}
      | {% else %}
      | {{ collection.products.first.featured_image | product_img_url: 'medium' | img_tag: collection_title }}
      | {% endif %}
  .product-title
    a(href='{{ collection.url }}') {{ collection.title }}
| {% endfor %}
| {% else %}
p You have no collections!
| {% endif %}

| {% if paginate.pages > 1 %}
.pagination
  | {{ paginate | default_pagination }}
| {% endif %}


| {% endpaginate %}
