.product
  .product-images
    .product-images__featured
      a(href="{{ product.featured_image.src | product_img_url: 'original' }}")
        img(src="{{ product.featured_image.src | product_img_url: 'grande' }}", alt="{{ product.featured_image.alt | escape }}")
    
    .product-images__list
      | {% for image in product.images offset: 1 %}
      .product-img(class="{% cycle '', '', 'last' %}")
        a(href="{{ image.src | product_img_url: 'original' }}")
          img(src="{{ image.src | product_img_url: 'small' }}", alt="{{ image.alt | escape }}")
      | {% endfor %}

  .product-details
    h2.product-title {{ product.title }}
    p.product-description {{ product.description }}
    p.product-price
    form(action="/cart/add" method='post')
      select(id='product-select' name='id')
        | {% for variant in product.variants %}
        option(value="{{ variant.id }}") {{ variant.title }} - {{ variant.price | money }}
        | {% endfor %}
      input(type="submit" name='add' value='Purchase')

    | {% if collection %}

    .product-nav
      | {% if collection.previous_product %}
      div {{ 'Previous Product' | link_to: collection.previous_product }}
      | {% endif %}
      | {% if collection.next_product %}
      div {{ 'Next Product' | link_to: collection.next_product }}
      | {% endif %}
    | {% endif %}

script.
  var selectCallback = function (variant, selector) {
    // cannot use angular binding inside function

    if (variant && variant.available == true) {
      // selected a valid variant
      $('.purchase').removeClass('disabled').removeAttr('disabled') // remove unavailable class from add-to-cart button, and re-enable button
      $('.product-price').text(Shopify.formatMoney(variant.price)) // update price field

    } else {
      // variant doesn't exist
      $('.purchase').addClass('disabled').attr('disabled', 'disabled') // set add-to-cart button to unavailable class and disable button
      var message = variant ? "Sold Out" : "Unavailable"

      $('.product-price').text(message) // update price-field message
    }
  }

  var optionselectors = new Shopify.OptionSelectors('product-select', {
    product: product,
    onVariantSelected: selectCallback
  })
