| {% paginate search.results by 5 %}

h2 Search
.search-form
  form(action='/search' method='get')
    p
      input(type='text' name='q' value='{{ search.terms | escape }}')
      input(type='submit' value='Search store')

| {% if search.performed %}
| {% if search.results_count == 0 %}
p Your search for "{{ search.terms }}" did not yield any results.
| {% else %}
| {% for item in search.results %}
.search-result
  h3 {{ item.title | link_to: item.url }}
  | {% if item.featured_image %}
  .product-thumb
    a(href='{{ item.url }}' title='{{ item.title | escape }}')
      | {{ item.featured_image.src | product_img_url: 'small' | img_tag: item.featured_image.alt }}
  .search-text {{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}
  | {% else %}
  div {{ item.content | strip_html | truncatewords: 40 | hightlight: search.terms }}
  | {% endif %}
| {% endfor %}
| {% endif %}
| {% endif %}

| {% if paginate.pages > 1 %}
.pagination
  | {{ paginate | default_pagination }}
| {% endif %}

| {% endpaginate %}
