doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title {{ page_title }} - {{ shop.name }}
    | {{ content_for_header }}
    | {{ 'main.css' | asset_url | stylesheet_tag }}
    | {{ "option_selection.js" | shopify_asset_url | script_tag }}
    | {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    | {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  body
    div(style='height: 0; width: 0; position: absolute; visibility: hidden')
      | {% include 'color.svg' %}
      | {% include 'no-color.svg' %}

    //- svg
    //-   use(xlink:href='#star')

    .toolbar
      .customer-links
        | {% if customer %}
        span Logged in as 
        a(href='/account') {{ customer.first_name }} 
        | {{ 'Log out' | customer_logout_link }}
        | {% if shop.customer_accounts_optional %} or
        | {{ 'Create an account' | customer_register_link }}
        | {% endif %}
        | {% endif %}

      .search
        form(action='/search' method='get')
          input(type='text' name='q' placeholder='search')
          input(type='submit' value='Search')

      .cart-info
        | Cart: 
        a(href="/cart") {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} {{ cart.total_price | money }}

    .container
      | {% include 'nav' %}
      .content
        | {{ content_for_layout }}
      | {% include 'footer' %}

    | {{ "main.js"  | asset_url | script_tag }}
